<h1><%= @group_event.name %></h1>

<table>
  <tbody>
    <% (GroupEvent.column_names - ["deleted_at"]).each do |col| %>
    <tr>
      <td><%= col.to_s %>: </td>
      <td><%= @group_event.send(col) %></td>
    </tr>
    <% end %>
  </tbody>
</table>