<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">Find Weather For A Location!</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>