@import "materialize/components/color";
$primary-color: color("green", "lighten-1") !default;
$secondary-color: color("blue", "darken-1") !default;
@import "materialize";


.alert {
    position: relative;
    @extend .card-panel, .lighten-4, .text-darken-4;
    margin: 20px;

    &.alert-success {
        @extend .green, .green-text;
    }

    &.alert-info {
        @extend .blue, .blue-text;
    }

    &.alert-warning {
        @extend .yellow, .yellow-text;
    }

    &.alert-danger {
        @extend .red, .red-text;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        color: inherit;
        margin-top: -18px;
    }
}