<h1><%= @location.name %></h1>

<table>
  <tbody>
    <% (Location.column_names).each do |col| %>
    <tr>
      <td><%= col.to_s %>: </td>
      <td><%= @location.send(col) %></td>
    </tr>
    <% end %>
  </tbody>
</table>